<div class="nav-container">
    <a href="index.html" class="logo">
        <img src="images/river-east-insurance-logo-color.png" alt="River East Insurance">
    </a>
    <nav>
        <ul class="nav-links">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="index.html#services">Services</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="https://customerservice.agentinsure.com/EzLynxCustomerService/web/rivereast/account/login" class="btn-client-portal" target="_blank">Client Portal</a></li>
        </ul>
    </nav>
</div>
