<div class="nav-container">
    <a href="index.html" class="logo">
        <img src="images/river-east-insurance-logo-color.png" alt="River East Insurance">
    </a>
    <nav>
        <ul class="nav-links">
                     
            <li class="dropdown">
                <a href="#" class="dropbtn">Insurance Solutions ▾</a>
                <div class="dropdown-content">
                    <a href="business-insurance.html">Business Insurance</a>
                    <a href="personal-insurance.html">Personal Insurance</a> 
                    <a href="life-insurance.html">Life Insurance</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="#" class="dropbtn">Service ▾</a>
                <div class="dropdown-content">
                    <a href="our-carriers.html">Carrier Service Center</a>
                    <a href="about.html">About Our Agency</a>
                </div>
            </li>
            <li><a href="contact.html">Contact Us</a></li>
            <li><a href="https://customerservice.agentinsure.com/EzLynxCustomerService/web/rivereast/account/login" class="btn-client-portal" target="_blank">Client Portal</a></li>
        </ul>
    </nav>
</div>
